bin/Debug/net6.0/Tuplas.deps.json
bin/Debug/net6.0/Tuplas.dll
bin/Debug/net6.0/Tuplas.exe
bin/Debug/net6.0/Tuplas.pdb
bin/Debug/net6.0/Tuplas.runtimeconfig.json
obj/project.assets.json
obj/project.nuget.cache
obj/Tuplas.csproj.nuget.dgspec.json
obj/Tuplas.csproj.nuget.g.props
obj/Tuplas.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Tuplas.AssemblyInfo.cs
obj/Debug/net6.0/Tuplas.AssemblyInfoInputs.cache
obj/Debug/net6.0/Tuplas.assets.cache
obj/Debug/net6.0/Tuplas.csproj.AssemblyReference.cache
obj/Debug/net6.0/Tuplas.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Tuplas.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Tuplas.dll
obj/Debug/net6.0/Tuplas.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Tuplas.genruntimeconfig.cache
obj/Debug/net6.0/Tuplas.GlobalUsings.g.cs
obj/Debug/net6.0/Tuplas.pdb
obj/Debug/net6.0/ref/Tuplas.dll
obj/Debug/net6.0/refint/Tuplas.dll
